params {
    
    help = null

    // *** Pipeline Input parameters ***
    sample_sheet = null
    data_dir = null

    guppy_path = null

    genome_fasta_dir = null
    genome_gff_dir = null

    barcode_kit = null

    // *** Pipeline processing parameters ***

    // - Basecalling
    model = "dna_r10.4.1_e8.2_400bps"

    // - Adapter trimming
    trim_qual = 5
    min_length = 64

    // - UMI-tools
    umitools_error = 6

    // - Feature counting
    // * Strandedness: 1 for forward, 2 for reverse
    strand = 1
    // which annotation types to use to count reads
    // This is one or more (comma-separated) categories 
    // from column 3 of the GFF   
    ann_type = 'gene'
    // What to use to label the features
    // This is one or more (comma-separated) fields
    // from column 9 of the GFF
    label = 'Name'
}

manifest {

  author = "Eachan Johnson"
  homePage = "https://github.com/scbirlab/nf-ont-sbrnaseq"
  description = "Nextflow pipeline to process Nanopore POD5 files from multiple bacterial samples into a gene x cell count table."
  defaultBranch = "main"
  version = "0.0.1"

}

profiles {

  standard {

    conda.enabled = true
    conda.useMamba = true
    process.conda = "${projectDir}/environment.yml"
    process.executor = 'slurm'
    notification.enabled = true
    notification.to = "$USER@crick.ac.uk"

  }

}